[tool]
[tool.poetry]
name = "textnets"
version = "0.5.1"
description = "Automated text analysis with networks"
license = "GNU General Public License v3"
keywords = ["textnets"]
classifiers = ["Development Status :: 4 - Beta", "Intended Audience :: Science/Research", "License :: OSI Approved :: GNU General Public License v3 (GPLv3)", "Natural Language :: English", "Programming Language :: Python :: 3 :: Only", "Programming Language :: Python :: 3.7", "Programming Language :: Python :: 3.8", "Programming Language :: Python :: 3.9", "Topic :: Scientific/Engineering :: Visualization", "Topic :: Sociology"]
homepage = "https://textnets.readthedocs.io"
repository = "https://github.com/jboynyc/textnets"
documentation = "https://textnets.readthedocs.io"
authors = ["John D. Boy <jboy@bius.moe>"]
readme = "README.rst"

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/jboynyc/textnets/issues"
"Changelog" = "https://textnets.readthedocs.io/en/stable/history.html"

[tool.poetry.dependencies]
python = ">=3.7.1,<3.10"
cairocffi = {version = "^1.2.0", markers = "sys_platform=='linux' or sys_platform=='darwin'"}
pycairo = {version = "^1.20.1", markers = "sys_platform=='win32'"}
leidenalg = "^0.8.4"
pandas = "^1.2.5"
python-igraph = "^0.9.6"
scipy = "^1.7.0"
spacy = "^3.0.6"
toolz = "^0.11.1"

cached-property = {version = "^1.5.2", python = "<3.8"}
importlib-metadata = {version = "^4.5.0", python = "<3.8"}
typing-extensions = {version = "^3.10.0", python = "<3.8"}

jupyter-sphinx = {version = "^0.3.2", optional = true}
sphinxcontrib-bibtex = {version = "^2.3.0", optional = true}
sphinx-rtd-theme = {version = "^0.5.2", optional = true}
Sphinx = {version = "^4.0.2", optional = true}

[tool.poetry.dev-dependencies]
black = "^21.6b0"
coverage = "^5.5"
flake8 = "^3.9.2"
mypy = "^0.910"
pytest = "^6.2.4"
watchdog = {extras = ["watchmedo"], version = "^2.1.3"}

[tool.poetry.extras]
doc = ["jupyter-sphinx", "sphinx", "sphinx-rtd-theme", "sphinxcontrib-bibtex"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.mypy]
files = "textnets"
warn_unused_ignores = true
warn_unreachable = true
ignore_missing_imports = true
pretty = true
