[tool]
[tool.poetry]
name = "textnets"
version = "0.7.2"
description = "Automated text analysis with networks"
license = "GNU General Public License v3"
keywords = ["computational social science", "network analysis", "nlp", "text analysis", "visualization"]
classifiers = ["Development Status :: 4 - Beta", "Intended Audience :: Science/Research", "License :: OSI Approved :: GNU General Public License v3 (GPLv3)", "Natural Language :: English", "Programming Language :: Python :: 3 :: Only", "Programming Language :: Python :: 3.7", "Programming Language :: Python :: 3.8", "Programming Language :: Python :: 3.9", "Topic :: Scientific/Engineering :: Visualization", "Topic :: Sociology"]
homepage = "https://textnets.readthedocs.io"
repository = "https://github.com/jboynyc/textnets"
documentation = "https://textnets.readthedocs.io"
authors = ["John D. Boy <jboy@bius.moe>"]
readme = "README.rst"
build = "build.py"
include = ["docs/*.rst", "docs/*.py", "docs/refs.bib", "docs/*.svg", "docs/_static", "LICENSE", "*.rst", "tests/*.py"]
exclude = ["docs/conda-env.yml", "textnets/_ext.c"]

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/jboynyc/textnets/issues"
"Changelog" = "https://textnets.readthedocs.io/en/stable/history.html"

[tool.poetry.dependencies]
python = ">=3.7.1,<3.11"
Cython = "^0.29.24"
igraph = "^0.9.8,!=0.9.9"
leidenalg = "^0.8.4"
pandas = "^1.3.5"
cairocffi = {version = "^1.2.0", markers = "sys_platform=='linux' or sys_platform=='darwin'"}
pycairo = {version = "^1.20.1", markers = "sys_platform=='win32'"}
scipy = "^1.7.0"
spacy = "^3.0.6"
toolz = "^0.11.1"
wasabi = "^0.8.2"

cached-property = {version = "^1.5.2", python = "<3.8"}
importlib-metadata = {version = "^4.10.1", python = "<3.8"}
typing-extensions = {version = "^3.10.0", python = "<3.8"}

jupyter-sphinx = {version = "^0.3.2", optional = true}
sphinxcontrib-bibtex = {version = "^2.3.0", optional = true}
Sphinx = {version = "^4.0.2", optional = true}
pydata-sphinx-theme = {version = "^0.8.0", optional = true}

[tool.poetry.dev-dependencies]
coverage = "^6.0.2"
flake8 = "^3.9.2"
mypy = "^0.931"
pytest = "^6.2.4"
watchdog = {extras = ["watchmedo"], version = "^2.1.3"}
ufmt = "^1.3.1"

[tool.poetry.extras]
doc = ["jupyter-sphinx", "sphinx", "pydata-sphinx-theme", "sphinxcontrib-bibtex"]

[build-system]
requires = ["poetry-core>=1.0.0", "Cython", "setuptools>=41"]
build-backend = "poetry.core.masonry.api"

[tool.mypy]
files = "textnets"
warn_unused_ignores = true
warn_unreachable = true
ignore_missing_imports = true
pretty = true
