# This workflow will upload a Python Package using Twine when a release is created
# For more information see: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries

name: textnets PyPI upload

on:
  release:
    types: created

jobs:

  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.8", "3.9", "3.10", "3.11"]
        include:
          - os: ubuntu-latest
            python-version: "pypy3.9"
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install OpenBLAS
      if: ${{ startsWith(matrix.python-version, 'pypy') }}
      run: |
        sudo apt-get install -y libopenblas-dev
    - name: Install dependencies
      run: |
        python -m pip install poetry
        poetry install
    - name: Build package
      run: poetry build
    - name: Upload build artifacts
      uses: actions/upload-artifact@v3
      with:
        path: ./dist/*

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Gather build artifacts
        uses: actions/download-artifact@v3
        with:
          name: artifact
          path: dist
      - name: Upload to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
          verbose: true
